.footer__container {
  position: absolute;
  bottom: 0;
  width: 100%;
  background: hsl(136, 0%, 95%);
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer__copyright {
  margin-left: 2rem;
}

.footer__links > ul {
  list-style: none;
  display: flex;
  gap: 1rem;
  margin-right: 2rem;
}

.footer__list-link {
  font-size: 1.125rem;
  color: black;
  padding: 0;
  text-decoration: none;
}
.footer__list-link:hover {
  color: rgb(120, 211, 181);
	color: ;
  transition: 150ms ease-in;
}

.iconify {
  font-size: 0.85rem;
  padding-right: 0.45rem;
}
/* Mobile */

/* @media (max-width: 480px) { */
/*   .row { */
/*     grid-template-columns: repeat(2, 1fr); */
/*   } */
/*   .heading { */
/*     margin: 1rem; */
/*   } */
/* } */
